.cancelHighlight {
  text-decoration: none;
  outline: none;
}
.text-space {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
